<h2>Rate Us</h2>

<p>Rate your experience with this app...</p>

 <div>
    <input type="radio" id="choice1"
     name="rating" value="soBad">
    <label for="choice1">Bad</label>

    <input type="radio" id="choice2"
     name="rating" value="okay">
    <label for="choice2">Okay</label>

    <input type="radio" id="choice3"
     name="rating" value="good">
    <label for="choice3">Good</label>

    <input type="radio" id="choice4"
     name="rating" value="amazing">
    <label for="choice4">Amazing</label>
 </div>

 <%= button_to "submit", redirection_path%>