<h1>Fashion+</h1>
<h2>Quality is not act, it is a habit</h2>

<%= button_to "Login", login_page_path %>
<%= button_to "Login with Twitter", "auth/twitter", method: :post, class: "btn btn-primary" %>
<%= link_to "New to us? Sign up!", signup_path%>
