<!DOCTYPE html>
<html lang="en">
  <head>
      <%= stylesheet_link_tag 'log_on', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="heading">
    <p id="fashion"> <b>Fashion+ </b></p>
    <p id="sentence">Quality is not an act, it is a habit.</p>
    <hr class="solid">  
  </div>

<!--  Logging in and signin up
  [5]"Ruby on Rails Tutorial (3rd Ed.)", Softcover.io, 2021. [Online]. 
  Available: https://3rd-edition.railstutorial.org/book/log_in_log_out 
  [Accessed: 23- May- 2021] 

  [6]"Ruby on Rails Tutorial (3rd Ed.)", Softcover.io, 2021. [Online]. 
  Available: https://3rd-edition.railstutorial.org/book/sign_up 
  [Accessed: 23- May- 2021] 
-->

  <body>
    <div class="grid-container">
        <div class="login"> 
            <b> <%=link_to "Login", login_page_path, :class => "login-btn" %></b>  <br>
            <b> <%= button_to "Login with Twitter", "auth/twitter", method: :post, :class => "tweet-btn" %> </b><br> 
            <hr class="solidLine"> <br>  
            <%= link_to "New to us? Sign up!", signup_path, class: "signup-btn" %>
        </div>
    </div>

  </body>

</html>






