@import "bootstrap-sprockets";
@import "bootstrap";

.body {
    background-color: rgba(238, 239, 240, 0.801);
}
.menu-buttons{
    
}

.menu-btn-main {
    padding-left: 15px;
}

.menu-btn-saved { 
    padding-right: 15px;
    padding-left: 300px;
}

.slide-show {
   padding: 15px;
}

.images-slide-show {
    object-fit: cover;
}


.fit-image {
    object-fit: cover;
}

.title-container {
    text-align: center;
    padding: 15px;
    p {
        font-size: x-large;
    }
}

.text-field-newsletter {
    border: none;
    width: fit-content;
}

.see-all-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;

    h3 {
        margin: 0;
    }

}

.popular-container {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px; 
}
.popular {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.image-popular {
    padding-left: 10px;
    padding-right: 10px;
    p {
        text-align: center;
    }
}

.btn {
    color: black;
}

.btn_women {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    align-items:flex-end;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px 3px rgb(181, 187, 187);
}

.btn_men {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    width: 215px;
    box-shadow: 0px 0px 10px 3px rgb(181, 187, 187);
}

.btn_kids {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 100px;
    box-shadow: 0px 0px 10px 3px rgb(181, 187, 187);
}

.btn_newins {
    color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    height: 220px;
    width: 215px;
    box-shadow: 0px 0px 10px 3px rgb(181, 187, 187);
}


hr.solid {
    border-top: 2px solid #bbb;
    margin-left: 18px;
    margin-right: 18px;
}

.button-group-main {
    display: flex;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}

.button-for-women {
    color:#EBEBEB;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
    height: 100px;
    background-color: rgb(255, 255, 255);
   
}

.button-for-newins {
    color:#EBEBEB;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 18px;
}

