@import "bootstrap-sprockets";
@import "bootstrap";

.button-group {
    padding-left: 20px;
    .profile-btn {
        padding-bottom: 20px;
    }
}

.profile-header {
    padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-self: start;
}
