@import "bootstrap-sprockets";
@import "bootstrap";

.items-container { 
    h3 {
        padding-bottom: 10px;
    }
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 490px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 0px;
    box-sizing: border-box;
    align-items: center;
}

#images-for-kids {
    padding-left: 10px;
    padding-right: 10px;
    width: min-content;
    
    p {
        text-align: center;
    }
}

.image-fit {
    object-fit: cover;
}