@import "bootstrap-sprockets";
@import "bootstrap";

.sidenavA {
    
}

.sidenavA a {
   

}

.sidenavA a:hover {
    color: #f1f1f1;
}
.solid-line {
    color: #3f3d3d;
    padding-left: 15px;
    padding-right: 15px;
}