<!DOCTYPE html>
<html lang="en">
  <body>
    <h1> filter products </h1>
    <h1> Collections </h1>

    <form action="/action_page.php">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> summer </label>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> outdoors</label>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> formal </label><br><br>
    </form>

    <h1> Colours </h1>

     <form action="/action_page.php">
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
        <label for="vehicle1"> green</label>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="Car">
        <label for="vehicle2"> white</label>
        <input type="checkbox" id="vehicle3" name="vehicle3" value="Boat">
        <label for="vehicle3"> brown</label><br><br>
    </form>

    <h1> Sizes </h1>

    <input type="radio" id="male" name="gender" value="male">
    <label for="male">s</label>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">m</label>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">l</label>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">xl</label>
    <input type="radio" id="other" name="gender" value="other">
    <label for="other">xxl</label>

  </body>

</html>


