<h2>Women Products</h2>


<% @products.each do |product| %>
  <div>
    <%= image_tag(product.image_url, width: '100px', height: '200px') %>
  </div>
  <div>
    <p>Name: <%= product.name %>; unit price of <%= number_to_currency(product.price) %></p>
  </div>
<% end%>