<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RAD Assignment</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="container">
      <div class="navbar-header">
        <h4>stub header</h3>
      </div> 
    </header>
    <%= yield %>
  </body>
</html>
